{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username | capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Go to profile</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
           <div>
            <h3>Password Change Successfully!</h3>
           <hr>
           </div>
           <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHe3PQTtk" width='200' height='200' frameborder="0" class='giphy-embed'allowfullscreen ></iframe>
           </div>
        </div>
    </div>
</div>
{% endblock main-content %}